<% include ./partials/header %>

<h1>Sign Up!</h1>

<form action="/register" method="POST">
    <input type="text" name="firstName" placeholder="first name">
    <input type="text" name="lastName" placeholder="last name">
    <input type="email" name="email" placeholder="email">
    <input type="text" name="username" placeholder="username">
    <label for="birthday">Birthday</label>
    <input type="date" id="birthday" name="birthday" value="1970-01-01">
    <input type="password" name="password" placeholder="password">
    <button>Register</button>
</form>

<% include ./partials/footer %>