/* --- Journal Entry --- */

#activity_button {
  position: relative;
  margin: 5px;
  height: 35px;
  width: 35px;
  font-size: 11px;
  border-radius: 50%;
}

#add-stuff {
  position: relative;
  margin-top: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 5px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(133,133,133,1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(133,133,133,1);
  box-shadow: 2px 2px 5px 0px rgba(133,133,133,1);
}

#add-stuff:nth-of-type(1) {
  margin-top: 25px;
  font-size: 15px;
}

#bottom_center {
  text-align: center;  
}

#bottom_right {
  text-align: right;  
}

#center_text {
  text-align: center;
  vertical-align: center;
  border: solid 1px #cfcfcf;
  border-radius: 3px;
  min-height: 150px;
  min-width: 150px;
}

#day_num_flex {
  padding-left: 60px;
}

#day_num {
  transform-origin: bottom left;
  transform: rotate(270deg);
  margin-left: 3px;
  margin-bottom: 5px;
}

#feeling_button {
  margin: 0px;
  height: 35px;
  width: 35px;
  font-size: 11px;
  border-radius: 50%;
}

#flex-outline {
  max-width: 300px;
  margin: 20px 20px;
  padding: 50px;
}

#main_flex_row {
  display:flex; 
  flex-wrap: wrap;
}

#main-item {
  width: 250px;
}

#main-item div {
  margin: 7px;
}

#middle_column {
  height: 250px;
}

#middle_column_left {
  height: 250px;
  width: 1px; 
  margin: 0;
}

#middle_column_content {
  height: 100%;
}

#wake_button {
  margin: 5px;
  height: 35px;
  width: 35px;
  font-size: 11px;
  border-radius: 50%;
}


body {
    font-family: 'Titillium Web', sans-serif;
}

.alert {
    margin: 20px 0;
}

.button_content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,0%);
}

.card {
  width: 250px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(133,133,133,1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(133,133,133,1);
  box-shadow: 2px 2px 5px 0px rgba(133,133,133,1);
}

.form-delete {
    display: inline;
}
