<% include ../partials/header %>

<div class="container">
    <div class="row justify-content-center">
        <h1>Create a new journal entry</h1>
    </div>
    <div class="row">
        <div style="width: 30%; margin: 30px auto; ">
            <form action="/journalentries" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="memento" placeholder="Most important thing to remember about today">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="special" placeholder="Any special circumstances? (travel,...)">
                </div>
                <div class="form-group">
                    <div class='input-group date datetimepicker' id='datetimepicker_awake'>
                        <input type='text' class="form-control" placeholder="When did you wake up?"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class='input-group date datetimepicker' id='datetimepicker_asleep'>
                        <input type='text' class="form-control" placeholder="When did you go to bed?"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-md btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/journalentries">Go back</a>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('.datetimepicker').datetimepicker({
                format: 'LT',
                use24hours: true
            });
        });
    </script>
</div>

<% include ../partials/footer %>